<div class="tab">
    <ul>
        <li ui-sref="home" ui-sref-active="cur"><span class="s1"><img src="images/tabIcon/home_icon.png"></span><span>首页</span></li>
        <li ui-sref="author" ui-sref-active="cur"><span class="s1"><img src="images/tabIcon/author_icon.png"></span><span>作者</span></li>
        <li ui-sref="content" ui-sref-active="cur"><span class="s1"><img src="images/tabIcon/content_icon.png"></span><span>内容</span></li>
        <li ui-sref="my" ui-sref-active="cur"><span class="s1"><img src="images/tabIcon/my_icon.png"></span><span>我的</span></li>
    </ul>
</div>